Introduction:

Restructure a flattened and/or denormalized dataset so it can be loaded into a SQL or Graph database. Identify and demonstrate a form of analysis that is made easier by restructuring the data.

Dataset: Yelp Dataset - https://www.kaggle.com/yelp-dataset/yelp-dataset

Importing Necessary Libraries

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [2]:
#Importing necessary libraries
import json
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt

Data Loading

In [3]:
# Load the Yelp dataset from JSON files into Python DataFrames
business_data = pd.read_json('business.json', lines=True)
business_data = pd.concat([pd.DataFrame(json.loads(line), index=[0]) for line in open('business.json')])

In [5]:
# Display the first few rows to understand the structure
print(business_data.head())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
0  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
0  tUFrWirKiKi_TAnsVWINQQ                    Target
0  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
0  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
0  87 Grasso Plaza Shopping Center         Affton    MO       63123
0             5255 E Broadway Blvd         Tucson    AZ       85711
0                      935 Race St   Philadelphia    PA       19107
0                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open attributes  \
0  34.426679 -119.711197    5.0             7        0        NaN
0  38.551126  -90.335695    3.0            15        1        NaN
0  32.223236 -110.880452    3.5            22        0        NaN
0  39.955505  -75.155564    4.0            80        1        NaN
0  40.338183  -75.471659    4.5            13        1        NaN

                                          categories hours
0  Doctors, Traditional Chinese Medicine, Naturop...  None
0  Shipping Centers, Local Services, Notaries, Ma...   NaN
0  Department Stores, Shopping, Fashion, Home & G...   NaN
0  Restaurants, Food, Bubble Tea, Coffee & Tea, B...   NaN
0                          Brewpubs, Breweries, Food   NaN

In [6]:
# Save the dataframe as a CSV file
business_data.to_csv('business.csv', index=False)

In [7]:
# Print the number of records loaded from each file
print(f"Number of business records: {len(business_data)}")

Number of business records: 150346

Data Cleaning and Preprocessing

In [8]:
# Read the CSV file back into a pandas dataframe
business_df = pd.read_csv('business.csv')

# Drop any duplicate rows
business_df = business_df.drop_duplicates()

# Drop any rows with missing values
business_df = business_df.dropna()

# Convert data types if needed (e.g., convert 'stars' to float)
business_df['stars'] = business_df['stars'].astype(float)

# Save the cleaned dataframe to a new CSV file
business_df.to_csv('cleaned_business.csv', index=False)

Normalization and Database Design

Database Implementation